[general]
persistentmembers=yes
autofill=yes
shared_lastcall=yes

[comercial]
musicclass=default
strategy=ringall
timeout=20
retry=5
maxlen=0
joinempty=yes
leavewhenempty=no
ringinuse=no
setinterfacevar=yes
setqueuevar=yes
monitor-type=MixMonitor
monitor-format=wav
; Adicione um member por ramal que realmente exista no Asterisk.
; Exemplos:
; member => PJSIP/1042,1,Atendente 1042
; member => PJSIP/1043,1,Atendente 1043
